<div class="container search-btn">
    <div class="col-md-12 col-md-offset-2">
        <button class="btn btn-success" ng-click="search()">Get Commit Message</button>
    </div>
    <div ng-show="showData" class="row">
        <table class="table table-striped table-hover">
            <tr>
                <th>Author Name</th>
                <th>Commit Date</th>
                <th>Commit Message</th>
            </tr>
            <tr ng-repeat="data in commitArr">
                <td>{{data.authorName}}</td>
                <td>{{data.commitDate}}</td>
                <td>{{data.commitMsg}}</td>
            </tr>
        </table>
    </div>
</div>